{
  "openapi": "3.0.0",
  "info": {
    "title": "ZoneID API",
    "description": "\n\nZoneID APIv2 is JSON based RESTful API for managing **Domain**, **Webhosting**, **Cloudserver VPS** and **DNS** services.\n\n# Authorization\n\n**HTTP basic auth** is used for authentication:\n* username is **ZoneID** username\n* password is API key that can be generated under **ZoneID** account management\n\nUse following header:\n\n```Authorization: Basic base64(zoneid_username:zoneid_api_token) ```\n\n<!-- ReDoc-Inject: <security-definitions> -->\n\n# URL format and usage\n\nURLs are built as:\n\n```\nhttps://api.zone.eu/v2/{service_type}/{service_name}/{resource_name*}/{resource_identificator*}\n```\n\nWhere\n\n**{service_type}** is\n* Domain: **domain**\n* Webhosting: **vserver**\n* DNS: **dns**\n* Cloudserver VPS: **cloud**\n\n**{service_name}** is\n* Domain: domain name (e.g. **example.com**)\n* Webhosting: virtual server name (e.g. **example.com**)\n* DNS: Nameserver zone name (e.g. **example.com**)\n* Cloudserver VPS: VPS host name (e.g. **uvn-XX-XXX.tll01.zonevs.eu**)\n\nAdditional child endpoints may follow as ```/{child}/{child_identificator*}```\n\n_* optional_\n\nFor example to get single DNS A record, we use following url:\n\n```\nhttps://api.zone.eu/v2/dns/example.com/a/1\n```\n\nor to get all DNS A Records, we use following url:\n\n```\nhttps://api.zone.eu/v2/dns/example.com/a\n```\n\nThere is exception for service ordering endpoints where path is build as:\n\n```\nhttps://api.zone.eu/v2/order/{service_type}\n```\n\n\n# Requests\n\nRequest types are divided into 4 separate HTTP codes.\n\n| Code       | Description |\n|------------|-------------|\n| **GET**     | Access one or more resource. All resources are returned in array. Single resources are returned as single array element. When accessing single resourse, then URL must end with giver resource identificator|\n| **POST**    | Create new resource. Resouce data in JSON structure should be sent in request body. Generated resource is returned in response as single array element.|\n| **PUT**     | Update existing resource. URL must contain given resource identificator of resource that is updated. Otherwise same as POST request |\n| **DELETE**  | Delete existing resource. URL must contain given resource identificator. |\n\n# Responses\n\nStandard HTTP status codes are used to give feedback about operation. In addition, human readable response message is sent in header **X-Status-Message**. Using response message  in your scripts is not recommended as these may change without warning. Descriptions of all HTTP standard status codes are [here](https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html). Most commonly used in **ZoneID API** are:\n\n| Code | Description |\n|------|-------------|\n| **200** | successful GET request |\n| **201** | successful POST/PUT request |\n| **202** | successful POST/PUT request in case request was accepted, but will be processed later (for example ordering new services) |\n| **204** | successful DELETE request |\n| **422** | unsuccessful request in case resource in request has validation errors. Error codes in response are in same structure as resource itself. |\n| **400** | unsuccessful request in case request itself is invalid |\n| **402** | unsuccessful request in case payment is required for further actions. Mostly used when package upgrade is required. |\n| **409** | unsuccessful request in case there is a conflict with the current state of the target resource. Mostly it indicates a concurrent request. |\n\n# Rate limit\n\nThe number of request is limited to 60 per minute per IP.\n\nRate limit information is contained in every response headers.\n* **X-Ratelimit-Limit** The number of request that is allowed to be made in a minute\n* **X-Ratelimit-Remaining** The number of remaining requests until reset\n\nIf you have reached the rate limit, then HTTP response code **429** is returned\n\n# Use common sense\n\n**Don't create requests without need.** Don't **update** resources that are not modified and don't ask for data that you already know.\n\nFor example when writing custom dynamic DNS style script for DNS A record, then.\n\n* Update IP only when it's changed and don't post same data again.\n* Keep track of last IP on your side and don't ask it from API after every **n** minutes to compare it with current one.\n\n# Pagination and sorting\n\nOn some GET endpoints we have enabled pagination. In that case there is header **x-pager-enabled** is sent in response.\n\n**Response** headers describing pager:\n\n| Header | Description |\n| ------ | ----------- |\n| **x-pager-enabled** | 1 when pager is enabled |\n| **x-pager-page**    | Current page number     |\n| **x-pager-pages**   | Total number of pages   |\n| **x-pager-limit**   | Items per page          |\n| **x-pager-items**   | Total number of items   |\n\n\n**Request** headers to use pager:\n\n| Header | Description |\n| ------ | ----------- |\n| **x-pager-page**    | Current page number                       |\n| **x-pager-limit**   | Items per page. Default is **10** and maximum is **100**  |\n| **x-order-by**      | Sort by field. Sortable fields are described in Resource documentation |\n| **x-order-dir**     | Sort direction: **asc** or **desc** |\n\n# Examples\n\n\nExample **CURL** request to get DNS A record\n\n```\ncurl -X GET https://api.zone.eu/v2/dns/example.com/a/1 \\\n-H 'Content-Type: application/json' \\\n-H 'Authorization: Basic em9uZWRfdXNlcm5hbWU6em9uZWlkX2FwaV9rZXk='\n```\n\nExample **CURL** request to create DNS A record\n\n```\ncurl -X POST https://api.zone.eu/v2/dns/example.com/a \\\n-H 'Content-Type: application/json' \\\n-H 'Authorization: Basic em9uZWRfdXNlcm5hbWU6em9uZWlkX2FwaV9rZXk=' \\\n-d '{\"name\": \"prefix.example.com\",\"destination\": \"123.123.123.123\"}'\n```\n\nSuccessful GET, POST and PUT responses always contain requested (or created/updated) resource(s). For example:\n\n```\n[\n    {\n        \"id\": \"123\",\n        \"resource_url\": \"https://api.zone.eu/v2/dns/example.com/a/123\",\n        \"name\": \"prefix.example.com\",\n        \"destination\": \"123.123.123.123\",\n        \"delete\": true,\n        \"modify\": true\n    }\n]\n```\n\n---\n ",
    "contact": {
      "url": "https://www.zone.ee",
      "email": "developers@zone.ee"
    },
    "version": "2.0",
    "x-logo": {
      "url": "https://www.zone.ee/common/img/zone_red_middle_800px.png",
      "altText": "Zone Media OÜ",
      "backgroundColor": "#FFFFFF",
      "href": "https://www.zone.eu"
    }
  },
  "servers": [
    {
      "url": "https://api.zone.eu/v2"
    }
  ],
  "paths": {
    "/order/cloud": {
      "get": {
        "tags": [
          "Cloudserver order"
        ],
        "summary": "Get cloudserver orders",
        "operationId": "cd313b0ccfe8456ae0b2fbdd24efc669",
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CloudOrder"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "basic_auth": []
          }
        ]
      },
      "post": {
        "tags": [
          "Cloudserver order"
        ],
        "summary": "Request/order new virtual machine",
        "operationId": "5491462dbc3fa3e1869a63eee53ecba5",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CloudOrder"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CloudOrder"
                  }
                }
              }
            }
          },
          "422": {
            "description": "invalid input"
          }
        },
        "security": [
          {
            "basic_auth": []
          }
        ]
      },
      "options": {
        "tags": [
          "Cloudserver order"
        ],
        "summary": "Get available virtual machine options",
        "description": "Get list of supported availability zones, packages, operating systems and billing periods",
        "operationId": "da29549208eb3ed2e46a132558e35ea4",
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "basic_auth": []
          }
        ]
      }
    },
    "/order/cloud/{identificator}": {
      "get": {
        "tags": [
          "Cloudserver order"
        ],
        "summary": "Get single cloudserver order",
        "operationId": "1b0497fba72a28175aac00b33bed5b17",
        "parameters": [
          {
            "$ref": "#/components/parameters/identificator"
          }
        ],
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CloudOrder"
                  }
                }
              }
            }
          },
          "404": {
            "description": "not found"
          }
        },
        "security": [
          {
            "basic_auth": []
          }
        ]
      }
    },
    "/cloud/{service_name}": {
      "get": {
        "tags": [
          "Cloudserver"
        ],
        "summary": "Display listing of VM cloudservers",
        "operationId": "4851eef037a81aa14c7ef6c9f9f1afa4",
        "parameters": [
          {
            "$ref": "#/components/parameters/service_name"
          },
          {
            "$ref": "#/components/parameters/name_host_ip_filter"
          },
          {
            "$ref": "#/components/parameters/vnc_details"
          },
          {
            "$ref": "#/components/parameters/x-pager-page"
          },
          {
            "$ref": "#/components/parameters/x-pager-limit"
          }
        ],
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Vm"
                  }
                }
              }
            }
          },
          "404": {
            "description": "not found"
          }
        },
        "security": [
          {
            "basic_auth": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Cloudserver"
        ],
        "summary": "Delete VM cloudserver",
        "operationId": "8d1bbf549652d49a26d6001361544970",
        "parameters": [
          {
            "$ref": "#/components/parameters/service_name"
          }
        ],
        "responses": {
          "204": {
            "description": "success"
          },
          "400": {
            "description": "process locked"
          },
          "404": {
            "description": "not found"
          }
        },
        "security": [
          {
            "basic_auth": []
          }
        ]
      }
    },
    "/cloud/{service_name}/resize": {
      "put": {
        "tags": [
          "Cloudserver"
        ],
        "summary": "Resize VM cloudserver",
        "operationId": "84f2c204e4eae134364f9b532e142b85",
        "parameters": [
          {
            "$ref": "#/components/parameters/service_name"
          },
          {
            "$ref": "#/components/parameters/disk_size"
          },
          {
            "$ref": "#/components/parameters/ram_size"
          },
          {
            "$ref": "#/components/parameters/vcpu_size"
          }
        ],
        "responses": {
          "201": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Vm"
                  }
                }
              }
            }
          },
          "400": {
            "description": "process locked"
          },
          "404": {
            "description": "not found"
          },
          "422": {
            "description": "invalid input"
          },
          "500": {
            "description": "operation failed"
          }
        },
        "security": [
          {
            "basic_auth": []
          }
        ]
      }
    },
    "/cloud/{service_name}/action/{action}": {
      "post": {
        "tags": [
          "Cloudserver"
        ],
        "summary": "Execute specific action for virtual machine",
        "operationId": "7918667afd15c1f2177ddef53ced085c",
        "parameters": [
          {
            "$ref": "#/components/parameters/service_name"
          },
          {
            "name": "action",
            "in": "path",
            "description": "Action type",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "start",
                "reboot",
                "shutdown",
                "shutdown_hard"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Vm"
                  }
                }
              }
            }
          },
          "404": {
            "description": "not found"
          },
          "500": {
            "description": "operation failed"
          }
        },
        "security": [
          {
            "basic_auth": []
          }
        ]
      }
    },
    "/cloud/{service_name}/{item}/{username}": {
      "put": {
        "tags": [
          "Cloudserver"
        ],
        "summary": "Set virtual machine user password or ssh access key",
        "operationId": "21cf1d0a30613901c59482f8d9fbaadf",
        "parameters": [
          {
            "$ref": "#/components/parameters/service_name"
          },
          {
            "name": "item",
            "in": "path",
            "description": "Access type",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "ssh",
                "password"
              ]
            }
          },
          {
            "name": "username",
            "in": "path",
            "description": "Default OS username",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "value": {
                    "description": "SSH or password value",
                    "type": "string"
                  }
                },
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Vm"
                  }
                }
              }
            }
          },
          "400": {
            "description": "process locked"
          },
          "404": {
            "description": "not found"
          },
          "422": {
            "description": "invalid input"
          },
          "500": {
            "description": "operation failed"
          }
        },
        "security": [
          {
            "basic_auth": []
          }
        ]
      }
    },
    "/dns/{service_name}/a": {
      "get": {
        "tags": [
          "A record"
        ],
        "summary": "get Zone A records",
        "operationId": "getdnsarecords",
        "parameters": [
          {
            "$ref": "#/components/parameters/service_name"
          }
        ],
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ARecord"
                  }
                }
              }
            }
          },
          "404": {
            "description": "not found"
          }
        },
        "security": [
          {
            "basic_auth": []
          }
        ]
      },
      "post": {
        "tags": [
          "A record"
        ],
        "summary": "Create A record",
        "operationId": "creatednsarecord",
        "parameters": [
          {
            "$ref": "#/components/parameters/service_name"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ARecord"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ARecord"
                  }
                }
              }
            }
          },
          "400": {
            "description": "operation not supported"
          },
          "402": {
            "description": "package upgrade required"
          },
          "404": {
            "description": "not found"
          },
          "422": {
            "description": "invalid input"
          }
        },
        "security": [
          {
            "basic_auth": []
          }
        ]
      }
    },
    "/dns/{service_name}/a/{identificator}": {
      "get": {
        "tags": [
          "A record"
        ],
        "summary": "get A record",
        "operationId": "getdnsarecord",
        "parameters": [
          {
            "$ref": "#/components/parameters/service_name"
          },
          {
            "$ref": "#/components/parameters/identificator"
          }
        ],
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ARecord"
                  }
                }
              }
            }
          },
          "404": {
            "description": "not found"
          }
        },
        "security": [
          {
            "basic_auth": []
          }
        ]
      },
      "put": {
        "tags": [
          "A record"
        ],
        "summary": "Update A record",
        "operationId": "updatednsarecord",
        "parameters": [
          {
            "$ref": "#/components/parameters/service_name"
          },
          {
            "$ref": "#/components/parameters/identificator"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ARecord"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ARecord"
                  }
                }
              }
            }
          },
          "400": {
            "description": "operation not supported"
          },
          "404": {
            "description": "not found"
          },
          "422": {
            "description": "invalid input"
          }
        },
        "security": [
          {
            "basic_auth": []
          }
        ]
      },
      "delete": {
        "tags": [
          "A record"
        ],
        "summary": "Delete A record",
        "operationId": "deletednsarecord",
        "parameters": [
          {
            "$ref": "#/components/parameters/service_name"
          },
          {
            "$ref": "#/components/parameters/identificator"
          }
        ],
        "responses": {
          "204": {
            "description": "success"
          },
          "400": {
            "description": "operation not supported"
          },
          "404": {
            "description": "not found"
          }
        },
        "security": [
          {
            "basic_auth": []
          }
        ]
      }
    },
    "/dns/{service_name}/aaaa": {
      "get": {
        "tags": [
          "AAAA record"
        ],
        "summary": "get Zone AAAA records",
        "operationId": "getdnsaaaarecords",
        "parameters": [
          {
            "$ref": "#/components/parameters/service_name"
          }
        ],
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AAAARecord"
                  }
                }
              }
            }
          },
          "404": {
            "description": "not found"
          }
        },
        "security": [
          {
            "basic_auth": []
          }
        ]
      },
      "post": {
        "tags": [
          "AAAA record"
        ],
        "summary": "Create AAAA record",
        "operationId": "creatednsaaaarecord",
        "parameters": [
          {
            "$ref": "#/components/parameters/service_name"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AAAARecord"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AAAARecord"
                  }
                }
              }
            }
          },
          "400": {
            "description": "operation not supported"
          },
          "402": {
            "description": "package upgrade required"
          },
          "404": {
            "description": "not found"
          },
          "422": {
            "description": "invalid input"
          }
        },
        "security": [
          {
            "basic_auth": []
          }
        ]
      }
    },
    "/dns/{service_name}/aaaa/{identificator}": {
      "get": {
        "tags": [
          "AAAA record"
        ],
        "summary": "get AAAA record",
        "operationId": "getdnsaaaarecord",
        "parameters": [
          {
            "$ref": "#/components/parameters/service_name"
          },
          {
            "$ref": "#/components/parameters/identificator"
          }
        ],
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AAAARecord"
                  }
                }
              }
            }
          },
          "404": {
            "description": "not found"
          }
        },
        "security": [
          {
            "basic_auth": []
          }
        ]
      },
      "put": {
        "tags": [
          "AAAA record"
        ],
        "summary": "Update AAAA record",
        "operationId": "updatednsaaaarecord",
        "parameters": [
          {
            "$ref": "#/components/parameters/service_name"
          },
          {
            "$ref": "#/components/parameters/identificator"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AAAARecord"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AAAARecord"
                  }
                }
              }
            }
          },
          "400": {
            "description": "operation not supported"
          },
          "404": {
            "description": "not found"
          },
          "422": {
            "description": "invalid input"
          }
        },
        "security": [
          {
            "basic_auth": []
          }
        ]
      },
      "delete": {
        "tags": [
          "AAAA record"
        ],
        "summary": "Delete AAAA record",
        "operationId": "deletednsaaaarecord",
        "parameters": [
          {
            "$ref": "#/components/parameters/service_name"
          },
          {
            "$ref": "#/components/parameters/identificator"
          }
        ],
        "responses": {
          "204": {
            "description": "success"
          },
          "400": {
            "description": "operation not supported"
          },
          "404": {
            "description": "not found"
          }
        },
        "security": [
          {
            "basic_auth": []
          }
        ]
      }
    },
    "/dns/{service_name}/ns": {
      "get": {
        "tags": [
          "NS record"
        ],
        "summary": "get Zone NS records",
        "operationId": "getdnsnsrecords",
        "parameters": [
          {
            "$ref": "#/components/parameters/service_name"
          }
        ],
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/NSRecord"
                  }
                }
              }
            }
          },
          "404": {
            "description": "not found"
          }
        },
        "security": [
          {
            "basic_auth": []
          }
        ]
      },
      "post": {
        "tags": [
          "NS record"
        ],
        "summary": "Create NS record",
        "operationId": "creatednsnsrecord",
        "parameters": [
          {
            "$ref": "#/components/parameters/service_name"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NSRecord"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/NSRecord"
                  }
                }
              }
            }
          },
          "400": {
            "description": "operation not supported"
          },
          "402": {
            "description": "package upgrade required"
          },
          "404": {
            "description": "not found"
          },
          "422": {
            "description": "invalid input"
          }
        },
        "security": [
          {
            "basic_auth": []
          }
        ]
      }
    },
    "/dns/{service_name}/ns/{identificator}": {
      "get": {
        "tags": [
          "NS record"
        ],
        "summary": "get NS record",
        "operationId": "getdnsnsrecord",
        "parameters": [
          {
            "$ref": "#/components/parameters/service_name"
          },
          {
            "$ref": "#/components/parameters/identificator"
          }
        ],
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/NSRecord"
                  }
                }
              }
            }
          },
          "404": {
            "description": "not found"
          }
        },
        "security": [
          {
            "basic_auth": []
          }
        ]
      },
      "put": {
        "tags": [
          "NS record"
        ],
        "summary": "Update NS record",
        "operationId": "updatednsnsrecord",
        "parameters": [
          {
            "$ref": "#/components/parameters/service_name"
          },
          {
            "$ref": "#/components/parameters/identificator"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NSRecord"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/NSRecord"
                  }
                }
              }
            }
          },
          "400": {
            "description": "operation not supported"
          },
          "404": {
            "description": "not found"
          },
          "422": {
            "description": "invalid input"
          }
        },
        "security": [
          {
            "basic_auth": []
          }
        ]
      },
      "delete": {
        "tags": [
          "NS record"
        ],
        "summary": "Delete NS record",
        "operationId": "deletednsnsrecord",
        "parameters": [
          {
            "$ref": "#/components/parameters/service_name"
          },
          {
            "$ref": "#/components/parameters/identificator"
          }
        ],
        "responses": {
          "204": {
            "description": "success"
          },
          "400": {
            "description": "operation not supported"
          },
          "404": {
            "description": "not found"
          }
        },
        "security": [
          {
            "basic_auth": []
          }
        ]
      }
    },
    "/dns/{service_name}/mx": {
      "get": {
        "tags": [
          "MX record"
        ],
        "summary": "get Zone MX records",
        "operationId": "getdnsmxrecords",
        "parameters": [
          {
            "$ref": "#/components/parameters/service_name"
          }
        ],
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/MXRecord"
                  }
                }
              }
            }
          },
          "404": {
            "description": "not found"
          }
        },
        "security": [
          {
            "basic_auth": []
          }
        ]
      },
      "post": {
        "tags": [
          "MX record"
        ],
        "summary": "Create MX record",
        "operationId": "creatednsmxrecord",
        "parameters": [
          {
            "$ref": "#/components/parameters/service_name"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MXRecord"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/MXRecord"
                  }
                }
              }
            }
          },
          "400": {
            "description": "operation not supported"
          },
          "402": {
            "description": "package upgrade required"
          },
          "404": {
            "description": "not found"
          },
          "422": {
            "description": "invalid input"
          }
        },
        "security": [
          {
            "basic_auth": []
          }
        ]
      }
    },
    "/dns/{service_name}/mx/{identificator}": {
      "get": {
        "tags": [
          "MX record"
        ],
        "summary": "get MX record",
        "operationId": "getdnsmxrecord",
        "parameters": [
          {
            "$ref": "#/components/parameters/service_name"
          },
          {
            "$ref": "#/components/parameters/identificator"
          }
        ],
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/MXRecord"
                  }
                }
              }
            }
          },
          "404": {
            "description": "not found"
          }
        },
        "security": [
          {
            "basic_auth": []
          }
        ]
      },
      "put": {
        "tags": [
          "MX record"
        ],
        "summary": "Update MX record",
        "operationId": "updatednsmxrecord",
        "parameters": [
          {
            "$ref": "#/components/parameters/service_name"
          },
          {
            "$ref": "#/components/parameters/identificator"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MXRecord"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/MXRecord"
                  }
                }
              }
            }
          },
          "400": {
            "description": "operation not supported"
          },
          "404": {
            "description": "not found"
          },
          "422": {
            "description": "invalid input"
          }
        },
        "security": [
          {
            "basic_auth": []
          }
        ]
      },
      "delete": {
        "tags": [
          "MX record"
        ],
        "summary": "Delete MX record",
        "operationId": "deletednsmxrecord",
        "parameters": [
          {
            "$ref": "#/components/parameters/service_name"
          },
          {
            "$ref": "#/components/parameters/identificator"
          }
        ],
        "responses": {
          "204": {
            "description": "success"
          },
          "400": {
            "description": "operation not supported"
          },
          "404": {
            "description": "not found"
          }
        },
        "security": [
          {
            "basic_auth": []
          }
        ]
      }
    },
    "/dns/{service_name}/cname": {
      "get": {
        "tags": [
          "CNAME record"
        ],
        "summary": "get Zone CNAME records",
        "operationId": "getdnscnamerecords",
        "parameters": [
          {
            "$ref": "#/components/parameters/service_name"
          }
        ],
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CNAMERecord"
                  }
                }
              }
            }
          },
          "404": {
            "description": "not found"
          }
        },
        "security": [
          {
            "basic_auth": []
          }
        ]
      },
      "post": {
        "tags": [
          "CNAME record"
        ],
        "summary": "Create CNAME record",
        "operationId": "creatednscnamerecord",
        "parameters": [
          {
            "$ref": "#/components/parameters/service_name"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CNAMERecord"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CNAMERecord"
                  }
                }
              }
            }
          },
          "400": {
            "description": "operation not supported"
          },
          "402": {
            "description": "package upgrade required"
          },
          "404": {
            "description": "not found"
          },
          "422": {
            "description": "invalid input"
          }
        },
        "security": [
          {
            "basic_auth": []
          }
        ]
      }
    },
    "/dns/{service_name}/cname/{identificator}": {
      "get": {
        "tags": [
          "CNAME record"
        ],
        "summary": "get CNAME record",
        "operationId": "getdnscnamerecord",
        "parameters": [
          {
            "$ref": "#/components/parameters/service_name"
          },
          {
            "$ref": "#/components/parameters/identificator"
          }
        ],
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CNAMERecord"
                  }
                }
              }
            }
          },
          "404": {
            "description": "not found"
          }
        },
        "security": [
          {
            "basic_auth": []
          }
        ]
      },
      "put": {
        "tags": [
          "CNAME record"
        ],
        "summary": "Update CNAME record",
        "operationId": "updatednscnamerecord",
        "parameters": [
          {
            "$ref": "#/components/parameters/service_name"
          },
          {
            "$ref": "#/components/parameters/identificator"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CNAMERecord"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CNAMERecord"
                  }
                }
              }
            }
          },
          "400": {
            "description": "operation not supported"
          },
          "404": {
            "description": "not found"
          },
          "422": {
            "description": "invalid input"
          }
        },
        "security": [
          {
            "basic_auth": []
          }
        ]
      },
      "delete": {
        "tags": [
          "CNAME record"
        ],
        "summary": "Delete CNAME record",
        "operationId": "deletednscnamerecord",
        "parameters": [
          {
            "$ref": "#/components/parameters/service_name"
          },
          {
            "$ref": "#/components/parameters/identificator"
          }
        ],
        "responses": {
          "204": {
            "description": "success"
          },
          "400": {
            "description": "operation not supported"
          },
          "404": {
            "description": "not found"
          }
        },
        "security": [
          {
            "basic_auth": []
          }
        ]
      }
    },
    "/dns/{service_name}/txt": {
      "get": {
        "tags": [
          "TXT record"
        ],
        "summary": "get Zone TXT records",
        "operationId": "getdnstxtrecords",
        "parameters": [
          {
            "$ref": "#/components/parameters/service_name"
          }
        ],
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/TXTRecord"
                  }
                }
              }
            }
          },
          "404": {
            "description": "not found"
          }
        },
        "security": [
          {
            "basic_auth": []
          }
        ]
      },
      "post": {
        "tags": [
          "TXT record"
        ],
        "summary": "Create TXT record",
        "operationId": "creatednstxtrecord",
        "parameters": [
          {
            "$ref": "#/components/parameters/service_name"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TXTRecord"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/TXTRecord"
                  }
                }
              }
            }
          },
          "400": {
            "description": "operation not supported"
          },
          "402": {
            "description": "package upgrade required"
          },
          "404": {
            "description": "not found"
          }
        },
        "security": [
          {
            "basic_auth": []
          }
        ]
      }
    },
    "/dns/{service_name}/txt/{identificator}": {
      "get": {
        "tags": [
          "TXT record"
        ],
        "summary": "get TXT record",
        "operationId": "getdnstxtrecord",
        "parameters": [
          {
            "$ref": "#/components/parameters/service_name"
          },
          {
            "$ref": "#/components/parameters/identificator"
          }
        ],
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/TXTRecord"
                  }
                }
              }
            }
          },
          "404": {
            "description": "not found"
          }
        },
        "security": [
          {
            "basic_auth": []
          }
        ]
      },
      "put": {
        "tags": [
          "TXT record"
        ],
        "summary": "Update TXT record",
        "operationId": "updatednstxtrecord",
        "parameters": [
          {
            "$ref": "#/components/parameters/service_name"
          },
          {
            "$ref": "#/components/parameters/identificator"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TXTRecord"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/TXTRecord"
                  }
                }
              }
            }
          },
          "400": {
            "description": "operation not supported"
          },
          "404": {
            "description": "not found"
          },
          "422": {
            "description": "invalid input"
          }
        },
        "security": [
          {
            "basic_auth": []
          }
        ]
      },
      "delete": {
        "tags": [
          "TXT record"
        ],
        "summary": "Delete TXT record",
        "operationId": "deletednstxtrecord",
        "parameters": [
          {
            "$ref": "#/components/parameters/service_name"
          },
          {
            "$ref": "#/components/parameters/identificator"
          }
        ],
        "responses": {
          "204": {
            "description": "success"
          },
          "400": {
            "description": "operation not supported"
          },
          "404": {
            "description": "not found"
          }
        },
        "security": [
          {
            "basic_auth": []
          }
        ]
      }
    },
    "/dns/{service_name}/caa": {
      "get": {
        "tags": [
          "CAA record"
        ],
        "summary": "get Zone CAA records",
        "operationId": "getdnscaarecords",
        "parameters": [
          {
            "$ref": "#/components/parameters/service_name"
          }
        ],
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CAARecord"
                  }
                }
              }
            }
          },
          "404": {
            "description": "not found"
          }
        },
        "security": [
          {
            "basic_auth": []
          }
        ]
      },
      "post": {
        "tags": [
          "CAA record"
        ],
        "summary": "Create CAA record",
        "operationId": "creatednscaarecord",
        "parameters": [
          {
            "$ref": "#/components/parameters/service_name"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CAARecord"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CAARecord"
                  }
                }
              }
            }
          },
          "400": {
            "description": "operation not supported"
          },
          "402": {
            "description": "package upgrade required"
          },
          "404": {
            "description": "not found"
          },
          "422": {
            "description": "invalid input"
          }
        },
        "security": [
          {
            "basic_auth": []
          }
        ]
      }
    },
    "/dns/{service_name}/caa/{identificator}": {
      "get": {
        "tags": [
          "CAA record"
        ],
        "summary": "get CAA record",
        "operationId": "getdnscaarecord",
        "parameters": [
          {
            "$ref": "#/components/parameters/service_name"
          },
          {
            "$ref": "#/components/parameters/identificator"
          }
        ],
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CAARecord"
                  }
                }
              }
            }
          },
          "404": {
            "description": "not found"
          }
        },
        "security": [
          {
            "basic_auth": []
          }
        ]
      },
      "put": {
        "tags": [
          "CAA record"
        ],
        "summary": "Update CAA record",
        "operationId": "updatednscaarecord",
        "parameters": [
          {
            "$ref": "#/components/parameters/service_name"
          },
          {
            "$ref": "#/components/parameters/identificator"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CAARecord"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CAARecord"
                  }
                }
              }
            }
          },
          "400": {
            "description": "operation not supported"
          },
          "404": {
            "description": "not found"
          },
          "422": {
            "description": "invalid input"
          }
        },
        "security": [
          {
            "basic_auth": []
          }
        ]
      },
      "delete": {
        "tags": [
          "CAA record"
        ],
        "summary": "Delete CAA record",
        "operationId": "deletednscaarecord",
        "parameters": [
          {
            "$ref": "#/components/parameters/service_name"
          },
          {
            "$ref": "#/components/parameters/identificator"
          }
        ],
        "responses": {
          "204": {
            "description": "success"
          },
          "400": {
            "description": "operation not supported"
          },
          "404": {
            "description": "not found"
          }
        },
        "security": [
          {
            "basic_auth": []
          }
        ]
      }
    },
    "/dns/{service_name}/sshfp": {
      "get": {
        "tags": [
          "SSHFP record"
        ],
        "summary": "get Zone SSHFP records",
        "operationId": "getdnssshfprecords",
        "parameters": [
          {
            "$ref": "#/components/parameters/service_name"
          }
        ],
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/SSHFPRecord"
                  }
                }
              }
            }
          },
          "404": {
            "description": "not found"
          }
        },
        "security": [
          {
            "basic_auth": []
          }
        ]
      },
      "post": {
        "tags": [
          "SSHFP record"
        ],
        "summary": "Create SSHFP record",
        "operationId": "creatednssshfprecord",
        "parameters": [
          {
            "$ref": "#/components/parameters/service_name"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SSHFPRecord"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/SSHFPRecord"
                  }
                }
              }
            }
          },
          "400": {
            "description": "operation not supported"
          },
          "402": {
            "description": "package upgrade required"
          },
          "404": {
            "description": "not found"
          },
          "422": {
            "description": "invalid input"
          }
        },
        "security": [
          {
            "basic_auth": []
          }
        ]
      }
    },
    "/dns/{service_name}/sshfp/{identificator}": {
      "get": {
        "tags": [
          "SSHFP record"
        ],
        "summary": "get SSHFP record",
        "operationId": "getdnssshfprecord",
        "parameters": [
          {
            "$ref": "#/components/parameters/service_name"
          },
          {
            "$ref": "#/components/parameters/identificator"
          }
        ],
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/SSHFPRecord"
                  }
                }
              }
            }
          },
          "404": {
            "description": "not found"
          }
        },
        "security": [
          {
            "basic_auth": []
          }
        ]
      },
      "put": {
        "tags": [
          "SSHFP record"
        ],
        "summary": "Update SSHFP record",
        "operationId": "updatednssshfprecord",
        "parameters": [
          {
            "$ref": "#/components/parameters/service_name"
          },
          {
            "$ref": "#/components/parameters/identificator"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SSHFPRecord"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/SSHFPRecord"
                  }
                }
              }
            }
          },
          "400": {
            "description": "operation not supported"
          },
          "404": {
            "description": "not found"
          },
          "422": {
            "description": "invalid input"
          }
        },
        "security": [
          {
            "basic_auth": []
          }
        ]
      },
      "delete": {
        "tags": [
          "SSHFP record"
        ],
        "summary": "Delete SSHFP record",
        "operationId": "deletednssshfprecord",
        "parameters": [
          {
            "$ref": "#/components/parameters/service_name"
          },
          {
            "$ref": "#/components/parameters/identificator"
          }
        ],
        "responses": {
          "204": {
            "description": "success"
          },
          "400": {
            "description": "operation not supported"
          },
          "404": {
            "description": "not found"
          }
        },
        "security": [
          {
            "basic_auth": []
          }
        ]
      }
    },
    "/dns/{service_name}/srv": {
      "get": {
        "tags": [
          "SRV record"
        ],
        "summary": "get Zone SRV records",
        "operationId": "getdnssrvrecords",
        "parameters": [
          {
            "$ref": "#/components/parameters/service_name"
          }
        ],
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/SRVRecord"
                  }
                }
              }
            }
          },
          "404": {
            "description": "not found"
          }
        },
        "security": [
          {
            "basic_auth": []
          }
        ]
      },
      "post": {
        "tags": [
          "SRV record"
        ],
        "summary": "Create SRV record",
        "operationId": "creatednssrvrecord",
        "parameters": [
          {
            "$ref": "#/components/parameters/service_name"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SRVRecord"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/SRVRecord"
                  }
                }
              }
            }
          },
          "400": {
            "description": "operation not supported"
          },
          "402": {
            "description": "package upgrade required"
          },
          "404": {
            "description": "not found"
          },
          "422": {
            "description": "invalid input"
          }
        },
        "security": [
          {
            "basic_auth": []
          }
        ]
      }
    },
    "/dns/{service_name}/srv/{identificator}": {
      "get": {
        "tags": [
          "SRV record"
        ],
        "summary": "get SRV record",
        "operationId": "getdnssrvrecord",
        "parameters": [
          {
            "$ref": "#/components/parameters/service_name"
          },
          {
            "$ref": "#/components/parameters/identificator"
          }
        ],
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/SRVRecord"
                  }
                }
              }
            }
          },
          "404": {
            "description": "not found"
          }
        },
        "security": [
          {
            "basic_auth": []
          }
        ]
      },
      "put": {
        "tags": [
          "SRV record"
        ],
        "summary": "Update SRV record",
        "operationId": "updatednssrvrecord",
        "parameters": [
          {
            "$ref": "#/components/parameters/service_name"
          },
          {
            "$ref": "#/components/parameters/identificator"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SRVRecord"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/SRVRecord"
                  }
                }
              }
            }
          },
          "400": {
            "description": "operation not supported"
          },
          "404": {
            "description": "not found"
          },
          "422": {
            "description": "invalid input"
          }
        },
        "security": [
          {
            "basic_auth": []
          }
        ]
      },
      "delete": {
        "tags": [
          "SRV record"
        ],
        "summary": "Delete SRV record",
        "operationId": "deletednssrvrecord",
        "parameters": [
          {
            "$ref": "#/components/parameters/service_name"
          },
          {
            "$ref": "#/components/parameters/identificator"
          }
        ],
        "responses": {
          "204": {
            "description": "success"
          },
          "400": {
            "description": "operation not supported"
          },
          "404": {
            "description": "not found"
          }
        },
        "security": [
          {
            "basic_auth": []
          }
        ]
      }
    },
    "/dns/{service_name}/url": {
      "get": {
        "tags": [
          "URL record"
        ],
        "summary": "get Zone URL records",
        "operationId": "getdnsurlrecords",
        "parameters": [
          {
            "$ref": "#/components/parameters/service_name"
          }
        ],
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/DnsRecordUrl"
                  }
                }
              }
            }
          },
          "404": {
            "description": "not found"
          }
        },
        "security": [
          {
            "basic_auth": []
          }
        ]
      },
      "post": {
        "tags": [
          "URL record"
        ],
        "summary": "Create URL record",
        "operationId": "creatednsurlrecord",
        "parameters": [
          {
            "$ref": "#/components/parameters/service_name"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DnsRecordUrl"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/DnsRecordUrl"
                  }
                }
              }
            }
          },
          "400": {
            "description": "operation not supported"
          },
          "402": {
            "description": "package upgrade required"
          },
          "404": {
            "description": "not found"
          },
          "422": {
            "description": "invalid input"
          }
        },
        "security": [
          {
            "basic_auth": []
          }
        ]
      }
    },
    "/dns/{service_name}/url/{identificator}": {
      "get": {
        "tags": [
          "URL record"
        ],
        "summary": "get URL record",
        "operationId": "getdnsurlrecord",
        "parameters": [
          {
            "$ref": "#/components/parameters/service_name"
          },
          {
            "$ref": "#/components/parameters/identificator"
          }
        ],
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/DnsRecordUrl"
                  }
                }
              }
            }
          },
          "404": {
            "description": "not found"
          }
        },
        "security": [
          {
            "basic_auth": []
          }
        ]
      },
      "put": {
        "tags": [
          "URL record"
        ],
        "summary": "Update URL record",
        "operationId": "updatednsurlrecord",
        "parameters": [
          {
            "$ref": "#/components/parameters/service_name"
          },
          {
            "$ref": "#/components/parameters/identificator"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DnsRecordUrl"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/DnsRecordUrl"
                  }
                }
              }
            }
          },
          "400": {
            "description": "operation not supported"
          },
          "404": {
            "description": "not found"
          },
          "422": {
            "description": "invalid input"
          }
        },
        "security": [
          {
            "basic_auth": []
          }
        ]
      },
      "delete": {
        "tags": [
          "URL record"
        ],
        "summary": "Delete URL record",
        "operationId": "deletednsurlrecord",
        "parameters": [
          {
            "$ref": "#/components/parameters/service_name"
          },
          {
            "$ref": "#/components/parameters/identificator"
          }
        ],
        "responses": {
          "204": {
            "description": "success"
          },
          "400": {
            "description": "operation not supported"
          },
          "404": {
            "description": "not found"
          }
        },
        "security": [
          {
            "basic_auth": []
          }
        ]
      }
    },
    "/dns/{service_name}/tlsa": {
      "get": {
        "tags": [
          "TLSA record"
        ],
        "summary": "get Zone TLSA records",
        "operationId": "getdnstlsarecords",
        "parameters": [
          {
            "$ref": "#/components/parameters/service_name"
          }
        ],
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/TLSARecord"
                  }
                }
              }
            }
          },
          "404": {
            "description": "not found"
          }
        },
        "security": [
          {
            "basic_auth": []
          }
        ]
      },
      "post": {
        "tags": [
          "TLSA record"
        ],
        "summary": "Create TLSA record",
        "operationId": "creatednstlsarecord",
        "parameters": [
          {
            "$ref": "#/components/parameters/service_name"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TLSARecord"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/TLSARecord"
                  }
                }
              }
            }
          },
          "400": {
            "description": "operation not supported"
          },
          "402": {
            "description": "package upgrade required"
          },
          "404": {
            "description": "not found"
          },
          "422": {
            "description": "invalid input"
          }
        },
        "security": [
          {
            "basic_auth": []
          }
        ]
      }
    },
    "/dns/{service_name}/tlsa/{identificator}": {
      "get": {
        "tags": [
          "TLSA record"
        ],
        "summary": "get TLSA record",
        "operationId": "getdnstlsarecord",
        "parameters": [
          {
            "$ref": "#/components/parameters/service_name"
          },
          {
            "$ref": "#/components/parameters/identificator"
          }
        ],
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/TLSARecord"
                  }
                }
              }
            }
          },
          "404": {
            "description": "not found"
          }
        },
        "security": [
          {
            "basic_auth": []
          }
        ]
      },
      "put": {
        "tags": [
          "TLSA record"
        ],
        "summary": "Update TLSA record",
        "operationId": "updatednstlsarecord",
        "parameters": [
          {
            "$ref": "#/components/parameters/service_name"
          },
          {
            "$ref": "#/components/parameters/identificator"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TLSARecord"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/TLSARecord"
                  }
                }
              }
            }
          },
          "400": {
            "description": "operation not supported"
          },
          "404": {
            "description": "not found"
          },
          "422": {
            "description": "invalid input"
          }
        },
        "security": [
          {
            "basic_auth": []
          }
        ]
      },
      "delete": {
        "tags": [
          "TLSA record"
        ],
        "summary": "Delete TLSA record",
        "operationId": "deletednstlsarecord",
        "parameters": [
          {
            "$ref": "#/components/parameters/service_name"
          },
          {
            "$ref": "#/components/parameters/identificator"
          }
        ],
        "responses": {
          "204": {
            "description": "success"
          },
          "400": {
            "description": "operation not supported"
          },
          "404": {
            "description": "not found"
          }
        },
        "security": [
          {
            "basic_auth": []
          }
        ]
      }
    },
    "/dns/{service_name}": {
      "get": {
        "tags": [
          "DNS"
        ],
        "summary": "Get DNS zone",
        "operationId": "d4b40e02c797cfeb0f86c7a2503d2fcd",
        "parameters": [
          {
            "$ref": "#/components/parameters/service_name"
          }
        ],
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/DNSZone"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "basic_auth": []
          }
        ]
      },
      "put": {
        "tags": [
          "DNS"
        ],
        "summary": "Update DNS zone",
        "operationId": "040d4c46bd5bc75adb7c2d751092428c",
        "parameters": [
          {
            "$ref": "#/components/parameters/service_name"
          }
        ],
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/DNSZone"
                  }
                }
              }
            }
          },
          "400": {
            "description": "operation not supported"
          },
          "422": {
            "description": "invalid input"
          }
        },
        "security": [
          {
            "basic_auth": []
          }
        ]
      }
    },
    "/domain/{service_name}/contact": {
      "get": {
        "tags": [
          "Contact"
        ],
        "summary": "Get all domain contacts",
        "operationId": "6747f8f83d3ab38ce7249e23b3c00460",
        "parameters": [
          {
            "$ref": "#/components/parameters/service_name"
          }
        ],
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/DomainContact"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "basic_auth": []
          }
        ]
      },
      "post": {
        "tags": [
          "Contact"
        ],
        "summary": "Create domain contact",
        "description": "NB! fillable and required fields depend on TLD and on data sent (eg. person/company)",
        "operationId": "62a1994fd9d965140e1756defb78610d",
        "parameters": [
          {
            "$ref": "#/components/parameters/service_name"
          },
          {
            "$ref": "#/components/parameters/identificator"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DomainContact"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/DomainContact"
                  }
                }
              }
            }
          },
          "400": {
            "description": "not supported"
          },
          "402": {
            "description": "package upgrade required"
          },
          "422": {
            "description": "invalid input"
          }
        },
        "security": [
          {
            "basic_auth": []
          }
        ]
      }
    },
    "/domain/{service_name}/contact/{identificator}": {
      "get": {
        "tags": [
          "Contact"
        ],
        "summary": "Get single domain contact",
        "operationId": "478cf14d049eba415e547ea68b96b319",
        "parameters": [
          {
            "$ref": "#/components/parameters/service_name"
          },
          {
            "$ref": "#/components/parameters/identificator"
          }
        ],
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/DomainContact"
                  }
                }
              }
            }
          },
          "404": {
            "description": "not found"
          }
        },
        "security": [
          {
            "basic_auth": []
          }
        ]
      },
      "put": {
        "tags": [
          "Contact"
        ],
        "summary": "Update domain contact",
        "description": "NB! fillable and required fields depend on TLD and on data sent (eg. person/company)",
        "operationId": "ea7e93e7c5ff64542c1166fb68813765",
        "parameters": [
          {
            "$ref": "#/components/parameters/service_name"
          },
          {
            "$ref": "#/components/parameters/identificator"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DomainContact"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/DomainContact"
                  }
                }
              }
            }
          },
          "400": {
            "description": "not supported"
          },
          "402": {
            "description": "package upgrade required"
          },
          "404": {
            "description": "not found"
          },
          "422": {
            "description": "invalid input"
          }
        },
        "security": [
          {
            "basic_auth": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Contact"
        ],
        "summary": "Delete domain contact",
        "operationId": "58391479368291efe540249a834a487d",
        "parameters": [
          {
            "$ref": "#/components/parameters/service_name"
          },
          {
            "$ref": "#/components/parameters/identificator"
          }
        ],
        "responses": {
          "204": {
            "description": "success"
          },
          "400": {
            "description": "not supported"
          },
          "402": {
            "description": "changing contacts require payment and that's not possible over API."
          },
          "404": {
            "description": "not found"
          }
        },
        "security": [
          {
            "basic_auth": []
          }
        ]
      }
    },
    "/domain/{service_name}/contact/tech/default": {
      "post": {
        "tags": [
          "Contact"
        ],
        "summary": "Add default tech contact",
        "operationId": "4040bb04b00ce0f96f3c6df30f2479c7",
        "parameters": [
          {
            "$ref": "#/components/parameters/service_name"
          }
        ],
        "responses": {
          "201": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/DomainContact"
                  }
                }
              }
            }
          },
          "400": {
            "description": "not supported"
          },
          "402": {
            "description": "package upgrade required"
          },
          "422": {
            "description": "invalid input"
          }
        },
        "security": [
          {
            "basic_auth": []
          }
        ]
      }
    },
    "/domain": {
      "get": {
        "tags": [
          "Domain"
        ],
        "summary": "Get all domains",
        "description": "Returns list of all domains that user owns or is delegated to manage. Possible **x-order-by** values are **expires** and **name**.",
        "operationId": "09c78dac2164fbb80ab13c63f018a7be",
        "parameters": [
          {
            "$ref": "#/components/parameters/domain_name"
          },
          {
            "$ref": "#/components/parameters/domain_is_renewable"
          },
          {
            "$ref": "#/components/parameters/domain_is_delegated"
          },
          {
            "$ref": "#/components/parameters/needs_renewal"
          },
          {
            "$ref": "#/components/parameters/x-pager-page"
          },
          {
            "$ref": "#/components/parameters/x-pager-limit"
          },
          {
            "$ref": "#/components/parameters/x-order-by"
          },
          {
            "$ref": "#/components/parameters/x-order-dir"
          }
        ],
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Domain"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "basic_auth": []
          }
        ]
      }
    },
    "/domain/{service_name}": {
      "get": {
        "tags": [
          "Domain"
        ],
        "summary": "Get domain",
        "operationId": "084b299b3322b767f3d8945b0402a774",
        "parameters": [
          {
            "$ref": "#/components/parameters/service_name"
          }
        ],
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Domain"
                  }
                }
              }
            }
          },
          "404": {
            "description": "not found"
          }
        },
        "security": [
          {
            "basic_auth": []
          }
        ]
      },
      "put": {
        "tags": [
          "Domain"
        ],
        "summary": "Update domain",
        "operationId": "f17794d4ac37d4464a3147f719cbc3e1",
        "parameters": [
          {
            "$ref": "#/components/parameters/service_name"
          }
        ],
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Domain"
                  }
                }
              }
            }
          },
          "400": {
            "description": "operation not supported"
          },
          "402": {
            "description": "package upgrade required"
          },
          "404": {
            "description": "not found"
          },
          "422": {
            "description": "invalid input"
          }
        },
        "security": [
          {
            "basic_auth": []
          }
        ]
      },
      "options": {
        "tags": [
          "Domain"
        ],
        "summary": "Get domain options",
        "operationId": "66780723653c6ecb261a29f82c456b6c",
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "renewal_options": {
                      "type": "array",
                      "items": {
                        "properties": {
                          "action": {
                            "description": "renew|reactivate_redeem|reactivate_grace",
                            "type": "string"
                          },
                          "action_periods": {
                            "description": "action periods and prices",
                            "type": "array",
                            "items": {
                              "properties": {
                                "period": {
                                  "type": "integer"
                                },
                                "expire_new": {
                                  "type": "string",
                                  "format": "date-time",
                                  "nullable": "true"
                                },
                                "price_per_year": {
                                  "type": "number",
                                  "format": "double"
                                },
                                "total_price": {
                                  "type": "number",
                                  "format": "double"
                                },
                                "total_price_with_tax": {
                                  "type": "number",
                                  "format": "double"
                                }
                              },
                              "type": "object"
                            }
                          }
                        },
                        "type": "object"
                      }
                    },
                    "nameserver": {
                      "type": "array",
                      "items": {
                        "properties": {
                          "min": {
                            "type": "integer"
                          },
                          "max": {
                            "type": "integer"
                          }
                        },
                        "type": "object"
                      }
                    },
                    "contact": {
                      "type": "array",
                      "items": {
                        "properties": {
                          "registrant": {
                            "type": "array",
                            "items": {
                              "properties": {
                                "min": {
                                  "type": "integer"
                                },
                                "max": {
                                  "type": "integer"
                                }
                              },
                              "type": "object"
                            }
                          },
                          "admin": {
                            "type": "array",
                            "items": {
                              "properties": {
                                "min": {
                                  "type": "integer"
                                },
                                "max": {
                                  "type": "integer"
                                }
                              },
                              "type": "object"
                            }
                          },
                          "tech": {
                            "type": "array",
                            "items": {
                              "properties": {
                                "min": {
                                  "type": "integer"
                                },
                                "max": {
                                  "type": "integer"
                                }
                              },
                              "type": "object"
                            }
                          }
                        },
                        "type": "object"
                      }
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "not found"
          }
        },
        "security": [
          {
            "basic_auth": []
          }
        ]
      }
    },
    "/domain/{service_name}/preferences": {
      "get": {
        "tags": [
          "Domain"
        ],
        "summary": "Get all domain's preferences",
        "description": "Returns all domain preferences",
        "operationId": "942a15347bdf44fcc92a148664bf8e6f",
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/DomainPreferences"
                  }
                }
              }
            }
          },
          "404": {
            "description": "not found"
          }
        },
        "security": [
          {
            "basic_auth": []
          }
        ]
      },
      "put": {
        "tags": [
          "Domain"
        ],
        "summary": "Update domain preferences",
        "operationId": "3b23676c3af8be0f58196af7d84c83fc",
        "parameters": [
          {
            "$ref": "#/components/parameters/service_name"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DomainPreferences"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/DomainPreferences"
                  }
                }
              }
            }
          },
          "422": {
            "description": "invalid input"
          }
        },
        "security": [
          {
            "basic_auth": []
          }
        ]
      }
    },
    "/domain/{service_name}/nameserver": {
      "get": {
        "tags": [
          "Domain"
        ],
        "summary": "Get all domain nameservers",
        "operationId": "d796830f044586f79068c390c8856010",
        "parameters": [
          {
            "$ref": "#/components/parameters/service_name"
          }
        ],
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/DomainNameserver"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "basic_auth": []
          }
        ]
      },
      "post": {
        "tags": [
          "Domain"
        ],
        "summary": "Create domain nameservers",
        "operationId": "5b5938ad6787dccaa5eb894c417319eb",
        "parameters": [
          {
            "$ref": "#/components/parameters/service_name"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/DomainNameserver"
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/DomainNameserver"
                  }
                }
              }
            }
          },
          "400": {
            "description": "invalid input"
          },
          "402": {
            "description": "package upgrade required"
          },
          "422": {
            "description": "invalid input"
          }
        },
        "security": [
          {
            "basic_auth": []
          }
        ]
      }
    },
    "/domain/{service_name}/nameserver/{hostname}": {
      "get": {
        "tags": [
          "Domain"
        ],
        "summary": "Get single domain nameserver",
        "operationId": "7bc3e3918d9e9423f1934efc6b1fbd91",
        "parameters": [
          {
            "$ref": "#/components/parameters/service_name"
          },
          {
            "$ref": "#/components/parameters/hostname"
          }
        ],
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/DomainNameserver"
                  }
                }
              }
            }
          },
          "404": {
            "description": "not found"
          }
        },
        "security": [
          {
            "basic_auth": []
          }
        ]
      },
      "put": {
        "tags": [
          "Domain"
        ],
        "summary": "Update domain nameserver",
        "operationId": "ade546319f81dcb89f4a5c5ac5279f79",
        "parameters": [
          {
            "$ref": "#/components/parameters/service_name"
          },
          {
            "$ref": "#/components/parameters/hostname"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DomainNameserver"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DomainNameserver"
                }
              }
            }
          },
          "400": {
            "description": "default nameservers cannot be changed"
          },
          "402": {
            "description": "package upgrade required"
          },
          "404": {
            "description": "not found"
          },
          "422": {
            "description": "invalid input"
          }
        },
        "security": [
          {
            "basic_auth": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Domain"
        ],
        "summary": "Delete domain nameserver",
        "operationId": "acb0e94c3042b925b5c21f281587affb",
        "parameters": [
          {
            "$ref": "#/components/parameters/service_name"
          },
          {
            "$ref": "#/components/parameters/hostname"
          }
        ],
        "responses": {
          "204": {
            "description": "success"
          },
          "400": {
            "description": "not supported"
          },
          "402": {
            "description": "changing nameservers require payment and that's not possible over API."
          },
          "404": {
            "description": "not found"
          }
        },
        "security": [
          {
            "basic_auth": []
          }
        ]
      }
    },
    "/order/domain/": {
      "get": {
        "tags": [
          "Domain"
        ],
        "summary": "Get domain orders",
        "operationId": "1ef4cff3b968eb44bc36564e8f0e955b",
        "parameters": [
          {
            "$ref": "#/components/parameters/identificator"
          },
          {
            "$ref": "#/components/parameters/x-pager-page"
          },
          {
            "$ref": "#/components/parameters/x-pager-limit"
          }
        ],
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Order"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "basic_auth": []
          }
        ]
      }
    },
    "/order/domain/{identificator}": {
      "get": {
        "tags": [
          "Domain"
        ],
        "summary": "Get domain order by identificator",
        "operationId": "7d457c2ff2a90899a8208dbcfaedaeb4",
        "parameters": [
          {
            "$ref": "#/components/parameters/identificator"
          }
        ],
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Order"
                  }
                }
              }
            }
          },
          "404": {
            "description": "not found"
          }
        },
        "security": [
          {
            "basic_auth": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Domain"
        ],
        "summary": "Cancel domain order",
        "operationId": "aafda66ff16f4fb4675f6bc59c06e040",
        "parameters": [
          {
            "$ref": "#/components/parameters/identificator"
          }
        ],
        "responses": {
          "204": {
            "description": "success"
          },
          "400": {
            "description": "malformed input"
          },
          "404": {
            "description": "not found"
          }
        },
        "security": [
          {
            "basic_auth": []
          }
        ]
      }
    },
    "/order/domain/renew": {
      "post": {
        "tags": [
          "Domain"
        ],
        "summary": "Renew or reactivate a domain",
        "operationId": "fb79e20bac830681b1d35516a05d0a50",
[...]
